<div class="search-div">
  <button mat-raised-button color="primary" (click)="onCreate()">CREATE NEW TRANSACTION </button>
   <mat-form-field class="search-form-field" >
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <mat-icon style="cursor: pointer;" (click)="onSearchClear()" matSuffix>replay</mat-icon>
  </mat-form-field> 
</div>



<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

   <ng-container matColumnDef="Firstname">
     <mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </mat-header-cell>
     <mat-cell *matCellDef="let transaction"> {{transaction.firstName}} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="Surname">
     <mat-header-cell *matHeaderCellDef mat-sort-header> Surname </mat-header-cell>
     <mat-cell *matCellDef="let transaction"> {{transaction.surname}} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="Email">
     <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
     <mat-cell *matCellDef="let transaction"> {{transaction.email}} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="cellPhone">
     <mat-header-cell *matHeaderCellDef mat-sort-header> cellPhone </mat-header-cell>
     <mat-cell *matCellDef="let transaction"> {{transaction.cellPhone}} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="Invoice Total">
     <mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Total </mat-header-cell>
     <mat-cell *matCellDef="let transaction"> {{transaction.amountTotal}} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="Transaction Type">
     <mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Type </mat-header-cell>
     <mat-cell *matCellDef="let transaction"> {{transaction.type}} </mat-cell>
   </ng-container>

   <ng-container matColumnDef="Action">
     <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
     <mat-cell *matCellDef="let row"> 
       <a (click)="viewTransactionInfo(row)" title="View transaction"><span>View</span></a> | 
       <a (click)="deleteTransactionInfo(row.id)" title="View transaction"><span>Delete</span></a>
     </mat-cell>
   </ng-container>

   <ng-container matColumnDef="loading">
     <mat-footer-cell *matFooterCellDef colspan="6">
       Loading data...
     </mat-footer-cell>
   </ng-container>
   <ng-container matColumnDef="noData">
     <mat-footer-cell *matFooterCellDef colspan="6">
       No data.
     </mat-footer-cell>
   </ng-container>

   

   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
   

   <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
   <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
 </mat-table> 
 <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div> 